<%- include('common/header') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
    </head>
    <style>
        body {
            background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
        }

        .form-page {
            width: 58%;
            display: flex;
            flex-direction: column;
            margin: auto;
            gap: 25px;
        }

        .btn {
            width: 40%;
            margin: auto;
        }

        input {
            border: none;
            border-bottom: 1px solid #000;
            background: transparent;
            outline: none;

            font-size: 14px;
        }

        .form-row {
            display: flex;
            justify-content: space-between;
        }

        .error {
            color: red;
            border: solid 1px red;
            outline: none;
        }

        .success {
            color: green;
            border: solid 1px green;
            outline: none;
        }
    </style>

    <body>
        <form action="http://localhost:3001/student" method="post" onsubmit="validate(event)">
            <div class="form-page">
                <div class="form-row">
                    <label>Name :</label>
                    <input type="text" id="name" name="name" minlength="3" maxlength="15">

                    <label>Age :</label>
                    <input type="number" id="age" name="age">
                </div>

                <div class="form-row">
                    <label>Email :</label>
                    <input type="email" id="emailid" name="email">

                    <label>Password:</label>
                    <input type="password" id="emailpassword" name="password">
                </div>

                <div class="form-row">
                    <label>dob:</label>
                    <input type="datetime-local" id="date" name="dob">

                    <label>phoneNumber :</label>
                    <input type="number" id="telephone" name="phoneNumber" minlength="10">
                </div>


                <label>Address:</label>
                <input type="text" class="add" id="address" name="address">

                <label>Gender:</label>
                <div id="genderInput" class="gen">
                    <input type="radio" id="Male" name="gender" value="Male">
                    <label for="Male">Male</label>
                    <input type="radio" id="Female" name="gender" value="Female">
                    <label for="Female">Female</label>
                </div>


                <label for="subjects">Select Subjects:</label>
                <select id="subjects" name="subjects" size="3" multiple>
                    <option value="">-- Select --</option>
                    <option value="eng">English</option>
                    <option value="cs">Computer Science</option>
                    <option value="maths"> Maths</option>
                    <option value="phy">Physics</option>
                </select>

                <label for="state">Choose a place:</label>
                <select id="state" name="place">
                    <option value="">-- Select --</option>
                    <option value="tamilnadu">Tamilnadu</option>
                    <option value="kerala">Kerala</option>
                    <option value="karnataka">Karnataka</option>
                    <option value="andra">Andhra Pradesh </option>
                </select>

                <div class="Club-list" id="activities">
                    <h4>Select a clubs</h4>
                    <input type="checkbox" id="club1" name="club" value="dance club">
                    <label for="dance club"> Dance Club</label>
                    <input type="checkbox" id="club2" name="club" value="music club">
                    <label for="music club"> Music Club</label>
                    <input type="checkbox" id="club3" name="club" value="drama club">
                    <label for="drama club"> Drama Club</label>
                    <input type="checkbox" id="club4" name="club" value="painting club">
                    <label for="painting club"> Painting Club</label>
                </div>


                <input type="submit" value="Submit" class="btn">
                <input type="reset" value="Reset" class="btn">


            </div>
        </form>

        <script>
            function validate(event) {
               


                var studentName = document.getElementById("name")

                if ((studentName.value.length < 2)) {
                    studentName.classList = "error"
                } else {
                    studentName.classList = "success"
                }

                var studentage = document.getElementById("age")

                if (studentage.value < 18 || studentage.value > 30) {
                    studentage.classList = "error"
                } else {
                    studentage.classList = "success"
                }

                var studentEmail = document.getElementById("emailid")
                var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (studentEmail.value == "" || !(emailPattern)) {
                    studentEmail.classList = "error"
                } else {
                    studentEmail.classList = "success"
                }

                var studentPassword = document.getElementById("emailpassword")
                if (studentPassword.value.length < 4 || studentPassword === " ") {
                    studentPassword.classList = "error"
                } else {
                    studentPassword.classList = "success"
                }

                var studentdob = document.getElementById("date")
                if (studentdob.value.length == " ") {
                    studentdob.classList = "error"
                } else {
                    studentdob.classList = "success"
                }

                var studentNumber = document.getElementById("telephone")
                if (studentNumber.value.length === 10) {
                    studentNumber.classList = "success"
                } else {
                    studentNumber.classList = "error"
                }

                var studentAddress = document.getElementById("address")
               if (!(address.value)) {
                    studentAddress.classList = "error";
                } else {
                    studentAddress.classList = "success";
                }

                var studentGender = document.querySelectorAll('[name="gender"]:checked')
                if (studentGender.length === 0) {
                    document.querySelector('#genderInput').classList = "error"
                } else {
                    document.querySelector('#genderInput').classList = "success"
                }

                var studentclub = document.querySelectorAll('[name="club"]:checked')
                if (studentclub.length === 0) {
                    document.querySelector('#activities').classList = "error"
                } else {
                    document.querySelector('#activities').classList = "success"
                }

                var place = document.getElementById("state");

                if (place.value === "") {
                    place.className = "error";
                } else {
                    place.className = "success";
                }


                var subjects = document.getElementById("subjects");
                if (subjects.selectedIndex === 0 || subjects.value === "") {
                    subjects.classList = "error"
                } else {
                    subjects.classList = "success"
                }
            }






        </script>

        <%- include('common/footer') %>
    </body>

    </html>